<%- include('../partials/header') %>
    <nav>
    <a href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>>ADD FLIGHT</a><br>
    <a href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>>ALL FLIGHTS</a>
    </nav>
    
    <section id="show-page">
      <div>Airline: </div>
      <div><%= flight.airline %></div>
      <div>Airport: </div>
      <div><%= flight.airport %></div>
      <div>Flight Number: </div>
      <div><%= flight.flightNo %></div>
      <div>Departure: </div>
      <div><%= flight.departs %></div>
    </section>
    <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
      <input type="datetime-local" name="arrival">
      <select name="airport"> 
        <option value="KDEN" selected>KDEN</option>
        <option value="KDFW">KDFW</option>
        <option value="KAUS">KAUS</option>
        <option value="KLAX">KLAX</option>
        <option value="KSAN">KSAN</option>
      </select>
      <input type="submit" value="Add Destination">
    </form>
<div class="flightInfo">
<% if (flight.destinations.length) { %>
    <table class="table">
      <thead>
        <tr>
          <th>Destination Airport</th>
          <th>Arrival Date</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
            <td><%= d.airport %></td>
            <td><%= d.arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destination Information Yet</h5>
  <% } %>
</div>
    <% if (tickets.length) { %>
    <table>
        <thead>
          <tr>
            <th>Seat</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% tickets.forEach(function(r) { %>
            <tr>
              <td><%= r.seat %></td>
              <td><%= r.price %></td>
            </tr>
          <% }); %>
        </tbody>
    </table>
    <% } else { %>
        <h5>No Tickets Yet</h5>
    <% } %>


    <button><a href="/flights/new">Add Flight</a>
    <button><a href="/flights/<%= flight._id %>/tickets/new">New Ticket</a></button>
    

    
    <%- include('../partials/footer') %>