
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <nav>
    <a href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>>ADD FLIGHT</a>
    <a href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>>ALL FLIGHTS</a>
    </nav>
    <main>
    <section id="show-page">
      <div>Airline: </div>
      <div><%= flight.airline %></div>
      <div>Airport: </div>
      <div><%= flight.airport %></div>
      <div>Flight Number: </div>
      <div><%= flight.flightNo %></div>
      <div>Departure: </div>
      <div><%= flight.departs %></div>
    </section>
    <form id="add-destination-form" method="POST"
      action="/flights/<%= flight._id %>/destinations">
      <label>Destination:</label>
      <select name="Airport">
        <option value="KDEN" selected>KDEN</option>
        <option value="KDFW">KDFW</option>
        <option value="KAUS">KAUS</option>
        <option value="KLAX">KLAX</option>
        <option value="KSAN">KSAN</option>
      </select>
      <input type="submit" value="Add Destination">
    </form>
    <% if (flight.destinations.length) { %>
    <table>
        <thead>
          <tr>
            <th>Destination</th>
            <th>Arrival Date</th>
          </tr>
        </thead>
        <tbody>
          <% flight.destinations.forEach(function(r) { %>
            <tr>
              <td><%= r.airport %></td>
              <td><%= r.arrival %></td>
            </tr>
          <% }); %>
        </tbody>
    </table>
    <% } else { %>
        <h5>No Destinations Yet</h5>
    <% } %>
    </main>
</body>
</html>